{{> layout/header}}
    <div>Authorization = {{Authorization}}</div>
    <p>
        <a href="http://localhost:8080/demo/profile">GOOGLE LOGIN</a>
    </p>

<script src="/js/app/authorization.js"></script>
{{> layout/footer}}